
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("common/Navigation")-%>
    <h1>Profile page</h1>
    <h1>Welcome <%= name%></h1>
    <h5>Email:<%= data.email%></h5>
    <h5>Place: <%= data.place%></h5>
    <ul>
        <% data.skill.map(ele=>{%>
            <li><%= ele%></li>
       <% })%>
    </ul>
</body>
</html>